*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    text-align: center;
}

#header{
    display: flex;
    justify-content: space-evenly;
    background-color: brown;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    border-top-width: 1px;
    border-style:groove ;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

img{
    width: 50%;
    height: auto;
    align-self: center;
}

body{
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

/***********************clases******************************/
.item{
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: 5px;
}

.item__h1{
    padding: 10px;
}
